@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");

:root {
  --font-1: "Londrina Solid", cursive;
}

body {
  background-color: antiquewhite !important;
}
.contest {
  background: white;
  padding: 15px 20px;
  box-shadow: 10px 10px 20px 1px #6c757d;
  border-radius: 10px;
}
.contest-header {
  font-family: var(--font-1);
  letter-spacing: 1px;
}
